
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.site {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr1fr;
grid-template-rows: 10;    
}

header {
    grid-row: 1;
    grid-column: 1/6;
    text-align: center;
    background-image: url(./images/pattern.jpeg);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 150%;

}

#enbattremiddag {
  font-size: 200%;
}

#motto {
  font-family: cursive;
}



#recension {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

#quote {
font-family: cursive  
}


aside {
  grid-row: 3/9;
  grid-column: 1/3;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.596);
  padding-bottom: 20%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 130%;
  font-family: cursive;
  
  
  
}


article {
  grid-row: 3/9;
  grid-column: 3/6;
  text-align: center;
  padding-bottom: 20%;
  


}

#mat1 {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 20%;
}

#valkommen {
  font-size: 300%;
}

#Titel {
  font-size: 200%;
}

.Priser2{
 font-size: 150%; 
}

.Brodtext {
font-size: 120%;
}

#logo {
 float:left;
 margin-left: 20px;
 border-radius: 40%; 
 position: relative;
 top: -80px;
 margin-bottom: -6%;
 
}

footer {
 grid-row: 10;
 grid-column: 1/6;
 text-align: center;
 background-image: url(./images/pattern.jpeg); 
 padding-top: 20px;
 padding-bottom: 20px;
 font-size: 150%;
}

.topnav {
    grid-row: 2;
    grid-column: 1/6;
    overflow: hidden;
    background-color: lightgray;
  }
  
  .topnav a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:white;
  }

  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    aside {
      display: none;
    }

    #logo {
      display:none;
    }
  
    article {
      margin-right: 10px;
    }

    



}
    
    